# 忽略Python缓存文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略虚拟环境
venv/
env/

# 忽略IDE配置文件
.vscode/
.idea/

# 忽略日志文件
*.log
logs/

# 忽略数据文件和数据集
data/
datasets/
*.csv
*.dat
*.mat
*.pkl
*.pickle
*.h5
*.hdf5
label.mat

# 忽略实验结果和模型
results/
output/
outputs/
saved_models/
checkpoints/
*.pth
*.pt
*.pb
*.onnx
figures/

# 忽略Jupyter Notebook检查点
.ipynb_checkpoints/
confusion_mt.ipynb

# 忽略其他
*.DS_Store
temp.py
readme.txt

# 忽略指定的文件夹
miniconda3/
dpkg/
braindecode/
Quantize_Pytorch_Vgg16AndMobileNet/
data/
datasets/
distiller-master/
EEG-Conformer-main/
EEGfusenet-main/
exp/
PR-PL/
Python-3.9.0/
Pruning-Filter-in-Filter-master/
Quantize_Pytorch_Vgg16AndMobileNet/
rethinking-network-pruning/
SFace_torch/
soft-filter-pruning/
stable-diffusion-webui/
tmp_pip/
torcheeg/
torcheeg-xai-main-real/
torcheeg-xai-main/
TSception-main/
antispoof-single-image-master/
EEG-Conformer-main/
SFace/
Torch-Pruning/
antispoof-single-image-master/
pytorch-pruning/

# 忽略所有非文件夹
*
